<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>StockMarketEdu</servlet-name>
		<servlet-class>stockmarketedu.StockMarketEduServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StockMarketEdu</servlet-name>
		<url-pattern>/stockmarketedu</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
	<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>CronController</servlet-name>
		<servlet-class>blog.CronController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CronController</servlet-name>
		<url-pattern>/mycronjob</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CronDividendController</servlet-name>
		<servlet-class>blog.CronDividendController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CronDividendController</servlet-name>
		<url-pattern>/mydividends</url-pattern>
	</servlet-mapping>
</web-app>
